<div class="row">
    <div class="col-md-4">

        <div class="card w-100">
            <img src="../../../assets/cutzeo.jpg" class="card-img-top" alt="Team">
            <div class="card-body">
                <p class="card-text">Cutzeo</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 text-center">
        <div class="display-5">
            Cancha
        </div>
        <div class="display-2">
            VS
        </div>
        <div class="display-5">
            Día - Hora
        </div>

    </div>
    <div class="col-md-4">
        <div class="card w-100">
            <img src="../../../assets/rival.jpg" class="card-img-top" alt="Team">
            <div class="card-body">
                <p class="card-text">Rival</p>
            </div>
        </div>
    </div>
</div>