<header>
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Dragones C.</a>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Jugadores
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/jugadores']" routerLinkActive="router-link-active">Jugadores</a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/jugador/agregar']" routerLinkActive="router-link-active">Agregar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Jornadas
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/jornadas']" routerLinkActive="router-link-active">Jornadas</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/jornada/agregar']" routerLinkActive="router-link-active">Agregar</a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/ingresos-detallados']" routerLinkActive="router-link-active"><b>Detalles por Jornada</b></a></li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Patrocinadores
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/patrocinadores']" routerLinkActive="router-link-active">Patrocinadores</a></li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/patrocinador-agregar']" routerLinkActive="router-link-active">Agregar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown bg-success">
                <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ingresos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/ingresos']" routerLinkActive="router-link-active">Lista de ingresos</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/ingresos-agregar']" routerLinkActive="router-link-active">Agregar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown bg-danger">
                <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Egresos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/egresos']" routerLinkActive="router-link-active">Lista de egresos</a></li>
                    <!-- <li><a class="dropdown-item" [routerLink]="['/egresos-detallados']" routerLinkActive="router-link-active">Egresos detallados</a></li> -->
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/egresos-agregar']" routerLinkActive="router-link-active">Agregar</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</header>

<!-- Begin page content -->
<main class="flex-shrink-0 mt-5 mb-3">
    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light text-center">
    <div class="container">
        <span>Dragones de Cutze FC - <small class="text-muted">Power by <strong>Teckay.com</strong></small></span>
    </div>
</footer>